<h1> POSTS </h1>
<div class="list-group">
<% @posts.each do |post| %>
  <div class="list-group-item">
    <%= link_to post.url, post.url %>
    <% downvotes = post.votes.where(polarity: false) %>
    Upvotes: <%= post.upvotes_count %>
    Downvotes: <%= post.downvotes_count %>
  </div>
<% end %>
</div>
<%= form_for Post.new, role: "form" do |f| %>
  <div class="form-group">
    <%= f.label :url, "Website URL" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <%= f.submit "Submit that joint", class: "btn btn-primary" %>
<% end %>
